body{
    background-color:aquamarine;
    text-align: center;
    color:darkmagenta;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

a{
    color:rgb(255, 6, 189);
    text-decoration: none;
}

a:hover {
    color: rgb(24, 8, 111);
}

ul {
    text-align:left;
    line-height: 150%;
}

h2{
    text-align: center;
}

img{
    width: 50%;
    height: 50%;
}

figure{
    text-align: center;
}

table{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

ol {
    margin-left: auto;
    margin-right: auto;
    line-height: 150%;
}

table, th, td {
    border:1px solid black;
}

tr:nth-child(even) { 
    background-color: white; 
} 

tr:nth-child(odd) { 
    background-color: gray; 
} 

.base{
    background-color: gray;
}

.top{
    background-color: black;
}