<h1>Sean Kiser's Sensational Kangaroo || ITIS 3135</h1>
        <nav>
            <a href="./">Home</a>
            ||
            <a href="introduction.html">Introduction</a>
            ||
            <a href="contract.html">Contract</a>
            ||
            <a href="tables.html">HTML Tables</a>
            ||
            <a href="forms.html">HTML Forms</a>
            ||
            <a href="website_evaluations.html">Website Evaluation</a>
            ||
            <a href="about.html">About</a>
            ||
            <a href="firstscripts.html">First Scripts</a>
            ||
            <a href="byo_intro.html">BYO Intro</a>
        </nav>
        <br>
        <nav>
            <a href ="stuff/CrA_pP&y.htm">Crappy Webpage</a>
        </nav>